<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.0.xsd">
		
		
		<bean id="loginService" class="login.impl.LoginServiceImpl" ></bean>
		<bean id="styleList" class="tools.Styles" >
			<property name="list">
				<list>
					<value>bakyura</value>
					<value>bakyura-2x</value>
					<value>gg</value>
					<value>setton</value>
					<value>setton-2x</value>
					<value>kanra</value>
					<value>kanra-2x</value>
					<value>zaika</value>
					<value>zaika-2x</value>
					<value>zawa</value>
					<value>kakka</value>
					<value>eight</value>
					<value>san-2x</value>
					<value>kyo-2x</value>
					<value>sharo-2x</value>
					<value>junsui-2x</value>
					<value>saki-2x</value>
					<value>kuromu-2x</value>
					<value>gaki-2x</value>
					<value>admin</value>
				</list>
			</property>
		</bean>
</beans>